<!--<div ng-show="loggedIn"> -->
    <div class="col-sm-3 col-sm-offset-4">
            <div class="row">
                    Instruction to Upload File in the  CSV Format
            </div>

            <div class="row">
                <textarea class="form-control" ng-model="user.bio" ng-blur="updateBio()"> Fill in comments for the file to be uploaded </textarea>
            </div>   
            <div class="row">
                <div class="button" ngf-select ng-model="file" name="file">Select</div>
            </div>
            <div class="row">
            <a href="http://localhost:3000/downloads/myfile.csv">CLICK HERE TO DOWNLOAD the template file</a>
            </div>
    </div>
<!--</div> -->
